<div>
    INIT: <%-transaction.initiator%></br>
    TO: <%-transaction.receiver%></br>
    TIME: <%-transaction.ts%></br>
    AMOUNT: <%-transaction.amount%></br>
    DESC: <%-transaction.description%></br>
    <a href="/payment/confirm-transaction" class="btn btn-primary">Complete purchase</a>
</div>
