<%- include("../partials/header") %>

<%- include("partials/navbarAdmin") %>
<div class="container-sm">
    <h1>Order Statistics</h1>

    <div class="container-sm">
        <canvas id="orderChart"></canvas>
    </div>
    <div class="content d-flex justify-content-center align-items-center">
        <a href="<%- (year - 1 >= release_year) ? '/admin/statistics/?year=' + (year - 1) : 'javascript:void(0);' %>"><button class="btn px-4"><i class="fa fa-arrow-left"></i></button></a>
        <h3 class="text-center"><%=year%></h3>
        <a href="<%- (year + 1 <= current_year ) ? '/admin/statistics/?year=' + (year + 1) : 'javascript:void(0);' %>"><button class="btn px-4"><i class="fa fa-arrow-right"></i></button></a>
    </div>
</div>
<script>
    var ctx = document.getElementById('orderChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels:Array.from({length: 12}, (_, i) => i + 1), 
                // labels: [<%- orderData.map(data => `'${data.date}'`).join(', ') %>],
                datasets: [
                    {
                        label: 'Order Count',
                        data: [<%- order_count_monthly.join(', ') %>],
                        borderColor: 'rgba(173, 216, 230, 1)', // Light blue
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Admin Account Cash',
                        data: [<%- cash_monthly.join(', ') %>],
                        borderColor: 'rgba(255, 182, 193, 1)', // Light pink
                        borderWidth: 1,
                        fill: false
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        ticks: {
                            color: 'white' // X-axis label color
                        },
                        grid: {
                            color: 'rgba(255, 255, 255, 0.1)' // X-axis grid color
                        }
                    },
                    y: {
                        ticks: {
                            color: 'white' // Y-axis label color
                        },
                        grid: {
                            color: 'rgba(255, 255, 255, 0.1)' // Y-axis grid color
                        }
                    }
                }
            }
        });
</script>


<%- include("../partials/footer") %>
