<%- include("../partials/header") %>
<%- include("partials/navbarAdmin") %>
<style>
    .sortable {
        cursor: pointer;
        user-select: none;
    }

    .sorted-asc::after {
        content: ' ▲';
        color:deepskyblue; 

    }
    .sorted-desc::after {
        content: ' ▼';
        color:deepskyblue; 
    }
    tbody tr:nth-child(even) {
        --bs-table-bg: #272f3c ;
    }
    .holder{ 
        height: 300px;
        width: 450px;
        border: 2px solid black;
        display: none;
        margin-top: 20px;
    }
    #imgPreview, #updateimgPreview {
        max-width: 450px;
        max-height: 300px;
        min-width: 450px;
        min-height: 300px;
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4">Manage Product</h1>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="sortable" data-column="id" onclick="sortTable('id')">ID</th>
                <th class="sortable" data-column="name">Product Name</th>
                <th class="sortable" data-column="category" onclick="sortTable('category')">Category</th>
                <th class="sortable" data-column="price" >Price</th>
                <th class="sortable" data-column="stockQuantity" >Stock Quantity</th>
                <th class="sortable" data-column="description">Description</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach((product, index) => { %>
                <tr>
                    <td><%= product.id %></td>
                    <td><%= product.p_name %></td>
                    <td><%= product.category %></td>
                    <td><%= product.price %></td>
                    <td><%= product.stockQuantity %></td>
                    <td><%= product.description %></td>
                    <td>
                        <img src="<%= product.image %>" alt="<%= product.name %>" style="max-width: 100px; max-height: 100px;">
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" onclick="showUpdateModal('<%= product.id %>','<%= product.p_name %>', '<%= product.category %>','<%= product.price %>', '<%= product.stockQuantity %>', '<%= product.description %>', '<%= product.image %>')">Edit</button>
                        <button class="btn btn-danger btn-sm" onclick="deleteProduct('<%= product.id %>')">Delete</button>   
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <!-- ======= Pagination =======-->
    <div class="d-flex justify-content-center align-items-center mt-5">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" onclick="getPageItems('2')">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    
                </ul>
            </nav>
    </div>
    <!-- ======= END Pagination =======-->

    <div class="modal" id="createProductModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create Product</h4>
                    <button type="button" class="btn btn-danger rounded-circle close" 
                    onclick="closeModal()"
                    data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
    
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="createProductForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="p_name">Product Name:</label>
                            <input type="text" class="form-control" id="p_name" name="name" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="p_cate">Category:</label>
                            <input type="text" class="form-control" id="p_cate" name="category" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="p_price">Price:</label>
                            <input type="text" class="form-control" id="p_price" name="price" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="p_quantity">Stock Quantity:</label>
                            <input type="number" class="form-control" id="p_quantity" name="quantity" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="p_desc">Description:</label>
                            <input type="text" class="form-control" id="p_desc" name="desc"required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="p_image">Image:</label>
                            <input type="file" class="form-control" id="p_image" name='image' accept="image/png, image/gif, image/jpeg" required>
                            <div class="holder">
                                <img src="" alt="pic" id="imgPreview">
                            </div>
                        </div>
                    
                        <button type="button" class="btn btn-primary" onclick="addProduct()">Create Product</button>
                    </form>
                </div>
    
                <!-- Modal Footer -->
                <div class="modal-footer">
                  @CineClick
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="updateProductModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Product</h4>
                    <button type="button" class="btn btn-danger rounded-circle close" 
                    onclick="closeModal()"
                    data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
    
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="updateProductForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Product Id:</label>
                            <input type="text" class="form-control" id="update_p_id" name="id" disabled>
                        </div>
                        <div class="form-group">
                            <label for="update_p_name">Product Name:</label>
                            <input type="text" class="form-control" id="update_p_name" name="name" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="update_p_cate">Category:</label>
                            <input type="text" class="form-control" id="update_p_category" name="category" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="update_p_price">Price:</label>
                            <input type="text" class="form-control" id="update_p_price" name="price" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="update_p_quantity">Stock Quantity:</label>
                            <input type="number" class="form-control" id="update_p_quantity" name="quantity" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="update_p_description">Description:</label>
                            <input type="text" class="form-control" id="update_p_description" name="description" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="update_p_image">Image:</label>
                            <input type="file" class="form-control" id="update_p_image" name='image' accept="image/png, image/gif, image/jpeg" required>
                            <div class="holder">
                                <img src="" alt="pic" id="updateimgPreview">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="editProduct()">Update Product</button>
                    </form>
                </div>
    
                <!-- Modal Footer -->
                <div class="modal-footer">
                  @CineClick
                </div>
            </div>
        </div>
    </div>
   <div class="mt-5">
    <button type="button" class="btn btn-success p-3 me-2" onclick="showModal()">Add New Product</button>
   </div>
    
</div>
<script>
    $(document).ready(() => { 
        const photoPreview = $('#p_image')
        const updatePhotoPreview = $('#update_p_image')

        const boxPreview = $('.holder')
        photoPreview.change(e => { 
            boxPreview.css('display', 'block')
            const files = photoPreview.prop('files');
            if (files.length > 0) { 
                const file = files[0];
                let reader = new FileReader(); 

                reader.onload = function (event){ 
                    console.log('FileReader onload event triggered');
                    $("#imgPreview").attr("src", event.target.result);
                };
                reader.readAsDataURL(file);
        }
    })
        updatePhotoPreview.change(e => { 
            const files = updatePhotoPreview.prop('files');
            if (files.length > 0) { 
                const file = files[0];
                let reader = new FileReader(); 
                reader.onload = function (event){ 
                    console.log('FileReader onload event triggered');
                    $("#updateimgPreview").attr("src", event.target.result);
                };

                reader.readAsDataURL(file);
        }
        })
    })
     function sortTable(columnName) {
            const table = document.querySelector('table');
            const tbody = table.querySelector('tbody');
            const rows = Array.from(tbody.querySelectorAll('tr'));

            const order = table.classList.contains('sorted-asc') ? 'desc' : 'asc';

            rows.sort((a, b) => {
                const aValue = a.querySelector(`td:nth-child(${getColumnIndex(columnName)})`).textContent;
                const bValue = b.querySelector(`td:nth-child(${getColumnIndex(columnName)})`).textContent;

                if (order === 'asc') {
                    return aValue.localeCompare(bValue, undefined, { numeric: true });
                } else {
                    return bValue.localeCompare(aValue, undefined, { numeric: true });
                }
            });

            tbody.innerHTML = '';
            rows.forEach(row => tbody.appendChild(row));

            // Toggle 
            table.classList.toggle('sorted-asc');

            // Remove 
            const sortableHeaders = table.querySelectorAll('.sortable');
            sortableHeaders.forEach(header => {
                if (header.textContent.toLowerCase() !== columnName.toLowerCase()) {
                    header.classList.remove('sorted');
                }
            });

            // Add 
            const currentHeader = table.querySelector(`th[data-column="${columnName}"]`);
            currentHeader.classList.toggle('sorted');

            // Remove 
            sortableHeaders.forEach(header => {
                if (header !== currentHeader) {
                    header.classList.remove('sorted-asc', 'sorted-desc');
                }
            });

            // Add 
            currentHeader.classList.toggle(order === 'asc' ? 'sorted-asc' : 'sorted-desc');
        }

        function closeModal(){ 
            $("#createProductForm input").val("");
            $(".holder").css("display", 'none');
            $('.modal').modal('hide')
        }
        function getColumnIndex(columnName) {
            const headers = document.querySelectorAll('th');
            for (let i = 0; i < headers.length; i++) {
                if (headers[i].textContent.trim().toLowerCase() === columnName.toLowerCase()) {
                    return i + 1; // Return 1-based index
                }
            }
            return -1; // Column not found
        }

        function showModal(){ 
            $('#createProductModal').modal('show')
        }
        function addProduct(){ 
            const form = $('#createProductForm')[0]
            const formData = new FormData(form)
            flag = true
            formData.forEach((value, key) => { 
                if(!value)
                { 
                    toastr.error(`You must fill in "${key}"`)
                    flag = false
                }
            })
            if(!flag) return
            $.ajax({
                url: "/admin/product/add",
                type: "POST",
                data: formData,
                processData: false,  
                contentType: false,  
                success: function (data) {
                    toastr.success(data);
                    closeModal()
                },
                error: function (err) {
                    toastr.error(err.responseText);
                }
            });
        }
        function showUpdateModal(id,name, category, price, quantity, desc, image){ 
            $('#updateProductModal').modal('show')
            $('#update_p_id').val(id)
            $('#update_p_sended').val(id)
            $('#update_p_name').val(name)
            $('#update_p_category').val(category)
            $('#update_p_price').val(price)
            $('#update_p_quantity').val(quantity)
            $('#update_p_description').val(desc)
            $("#updateimgPreview").attr("src", image);
            $('.holder').css('display', 'block')
        }
        function editProduct(){ 
            const form = $('#updateProductForm')[0]
            const formData = new FormData(form)
           
            formData.append('id', $('#update_p_id').val().trim())
            $.ajax({ 
                url: '/admin/product/update', 
                type: 'POST', 
                data: formData, 
                processData: false,  
                contentType: false,  
                success: function (data) {
                    toastr.success(data);
                },
                error: function (err) {
                    toastr.error(err.responseText);
                }
            })
        }
        function deleteProduct(productId){ 
            $.ajax( { 
                url: '/admin/product/delete', 
                type: 'POST', 
                data: {productId},
                success: function (data){ 
                    location.reload()
                },
                error: function(err){ 
                    toastr.error(err.responseText);
                }
            })
        }
        function getPageItems(page){ 
            const per_page = 3 
            $.ajax({ 
            url: '/admin/product/list/pagination', 
            type: 'GET', 
            data: {page, per_page}, 
            success: function (data) {
                toastr.success(data);
            },
            error: function (err) {
                toastr.error(err.responseText);
            }
        })
        }
    </script>
    <%- include("../partials/footer") %>   
