<%- include("../partials/header") %>
<%- include("partials/navbarAdmin") %>

<style>
     .even-row {
            background-color: #f2f2f2;
        }
</style>
<div class="container mt-5">
    <h1 class="mb-4">Manage Orders</h1>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach((order, index) => { %>
                <tr class="<%= index % 2 === 0 ? 'even-row' : '' %>">
                    <td><%= order.orderId %></td>
                    <td><%= order.customerName %></td>
                    <td><%= order.productName %></td>
                    <td><%= order.quantity %></td>
                    <td><%= order.price %></td>
                    <td><%= order.quantity * order.price %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>