<%- include("../partials/header") %>
<%- include("partials/navbarAdmin") %>

<div class="container mt-5">
    <h1 class="mb-4">Account Management</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% accounts.forEach(account => { %>
                <tr>
                    <td>
                        <span class="editable" contenteditable="false"><%= account.email %></span>
                        <button class="btn btn-link" onclick="enableEditing(this)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-link" onclick="updateUser(this, <%= account.email %>)" style="display: none;"><i class="fas fa-check"></i></button>
                    </td>
                    <td>
                        <span class="editable" contenteditable="false"><%= account.type %></span>
                    </td>
                    <td>
                        <button class="btn btn-link text-danger" onclick="confirmDelete('<%= account.email %>')"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        <td>
            <button class="btn btn-link" onclick="showCreateForm()"><i class="fas fa-user-plus"></i></button>
        </td>
    </table>
    <div class="modal" id="createAccountModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create Account</h4>
                    <button type="button" class="btn btn-danger rounded-circle close" 
                    onclick="$('.modal').modal('hide')"
                    data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
    
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="createAccountForm">
                        <div class="form-group">
                            <label for="newEmail">Email:</label>
                            <input type="email" class="form-control" id="newEmail" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="newPassword">Password:</label>
                            <input type="password" class="form-control" id="newPassword" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="newPassword">Type:</label>
                            <select class="form-select" aria-label="Default select example" id="newType">
                                <option value="admin">admin</option>
                                <option value="customer">customer</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="submitCreateForm()">Create Account</button>
                    </form>
                </div>
    
                <!-- Modal Footer -->
                <div class="modal-footer">
                  @CineClick
                </div>
            </div>
        </div>
    </div>

    <script>
        function enableEditing(button) {
            const emailSpan = button.parentElement.querySelector('.editable');
            emailSpan.setAttribute('contenteditable', 'true');
            button.style.display = 'none';
            button.nextElementSibling.style.display = 'inline-block';
        }

        function updateUser(button, userId) {
            const emailSpan = button.parentElement.querySelector('.editable');
            const newEmail = emailSpan.innerText.trim();
            console.log(`Updating email for user with ID ${userId} to: ${newEmail}`);
            // TODO  /manage/account/udpate           
            emailSpan.setAttribute('contenteditable', 'false');
            button.style.display = 'inline-block';
            button.previousElementSibling.style.display = 'inline-block';
            button.style.display = 'none';
        }
         function confirmDelete(email) {
            if (confirm('Are you sure you want to delete this user?')) {
                deleteUser(email);
            }
        }
        function deleteUser(email) {
            //TODO POST data admin/manage/account/delete?id={}
            $.post("/admin/account/delete", {email}, function(data, status){ 
            
            });
        }

        function showCreateForm() {
            $('#createAccountModal').modal('show');
        }
        
        function submitCreateForm() {
            const email = $('#newEmail').val().trim();
            const password= $('#newPassword').val().trim();
            const type = $('#newType').val(); 

            if (!email || !password || !type) {
                toastr.error('Please fill in all fields');
                return;
            }

            $.post("/admin/account", {email, password, type}, function(data, status){ 
               
            });

            $('#createAccountModal').modal('hide');
        }
    </script>
</div>

<%- include("../partials/footer") %>