<%- include("../partials/header") %>
<%- include("partials/navbarAdmin") %>

<style>
    .category-name::first-letter{ 
        text-transform: capitalize;
    }
    tbody tr:nth-child(even) {
        /* --bs-table-bg: #272f3c ; */
    }
    .child-row { 
        display: none;
    }
    .arrow-icon {
        margin-left: -24px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        font-size: calc(14px + 0.4vw);
    }
    .rotate180 {
        display: inline-block;
        transform: rotate(90deg);
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4">Manage Category</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Parent Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% const renderChildren = (categories, depth, parentIndex) => { %>
                <% categories.forEach((Subcate, index) => { %>
                    <tr class="<%= index % 2 === 0 ? 'even-row' : '' %> child-row parent-<%= parentIndex %>" >
                        <td><%= Subcate.id %></td>
                        <td class="category-name" style="padding-left: <%= depth * 20 %>px;">
                        <% if (Subcate.children && Subcate.children.length > 0) { %>
                            <span id="arrow-icon-<%=Subcate.id%>" class="arrow-icon" onclick="toggleChild('<%= Subcate.id %>')">&blacktriangleright;</span>
                        <% } %>
                            
                            <%= Subcate.name %>
                        </td>
                        <td class="category-name"><%= Subcate.parent_id %></td>
                        <td>
                            <button class="btn btn-primary" onclick="showUpdateForm('<%= Subcate.id %>', '<%= Subcate.name %>', '<%= Subcate.parent_id %>', <%= JSON.stringify(cates) %>)">Edit</button>
                            <button class="btn btn-danger" onclick="deleteCategory('<%=Subcate.id%>')">Delete</button>
                        </td>
                    </tr>
                    <% if (Subcate.children && Subcate.children.length > 0) { %>
                        <%= renderChildren(Subcate.children, depth + 1, Subcate.id) %>
                    <% } %>
                <% }); %>
            <% }; %>
        
            <% cates.forEach((cate, index) => { %>
                <tr class="<%= index % 2 === 0 ? 'even-row' : '' %> parent-row">
                    <td><%= cate.id %></td>
                    <td class="category-name">
                        <% if (cate.children && cate.children.length > 0) { %>
                            <span id="arrow-icon-<%= cate.id %>" class="arrow-icon" onclick="toggleChild('<%= cate.id %>')">&blacktriangleright;</span>
                        <% } %>
                        <%= cate.name %>
                    </td>
                    <td class="category-name"><%= cate.parent_id %></td>
                    <td>
                        <button class="btn btn-primary" onclick="showUpdateForm('<%= cate.id %>', '<%= cate.name %>', '<%= cate.parent_id %>')">Edit</button>
                        <button class="btn btn-danger" onclick="deleteCategory('<%=cate.id%>')">Delete</button>
                    </td>
                </tr>
                <%= renderChildren(cate.children, 1, cate.id) %>
            <% }); %>
        </tbody>
    </table>
    <div class="modal" id="createCateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create Category</h4>
                    <button type="button" class="btn btn-danger rounded-circle close" 
                    onclick="$('.modal').modal('hide')"
                    data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
    
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="createAccountForm">
                        <div class="form-group mb-4">
                            <label for="newName">Name:</label>
                            <input type="text" class="form-control" id="newName" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="newParentCate">Parent Category (-1 for null)</label>
                            <input type="number" 
                            class="form-control" id="newParentCate">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="submitCreateForm()">Create Category</button>
                    </form>
                </div>
    
                <!-- Modal Footer -->
                <div class="modal-footer">
                  @CineClick
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal" id="updateCateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Category</h4>
                    <button type="button" class="btn btn-danger rounded-circle close" 
                    onclick="$('.modal').modal('hide')"
                    data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
    
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="updateCategoryForm">
                        <div class="form-group mb-4">
                            <label for="updateId">Id</label>
                            <input type="text" class="form-control" id="updateId" disabled>
                        </div>
                        <div class="form-group mb-4">
                            <label for="updateName">Name:</label>
                            <input type="text" class="form-control" id="updateName" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="updateParentId">Parent Category (-1 for null)</label>
                            <input type="number" id="updateParentId" class="form-control">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="submitUpdateForm()">Update Category</button>
                    </form>
                </div>
    
                <!-- Modal Footer -->
                <div class="modal-footer">
                  @CineClick
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success p-3 mt-4" onclick="showCreateForm()">Add New Category</button>
    
    <script>
        function showUpdateForm(id, name, parent_id){ 
            $('#updateCateModal').modal('show')
            $('#updateId').val(id)
            $('#updateName').val(name)
            $('#updateParentId').val(parent_id || '-1')
        }
        function showCreateForm(){ 
            $('#createCateModal').modal('show')
        }
        function deleteCategory(id){ 
            $.post("/admin/category/delete", {id})
            .done((data) => { 
                location.reload()
            })       
            .fail(function(xhr, status, error){ 
                    toastr.error(xhr.responseText)
            })  
        }

        function submitCreateForm(){ 
            const name = $('#newName').val().trim().toLowerCase()
            const parent_id = $('#newParentCate').val()
            console.log(name, parent_id);
            $.post('/admin/category/add', {name, parent_id})
            .done((data) => { 
                location.reload()
                $('#createCateModal').modal('hide')
            })       
            .fail(function(xhr, status, error){ 
                toastr.error(xhr.responseText)
            }) 
        }

        
        function submitUpdateForm(){ 
            const id = $('#updateId').val().trim()
            const name = $('#updateName').val().trim().toLowerCase()
            const parent_id = $('#updateParentId').val()
            console.log(id, name, parent_id);
            if(!id || !name || !parent_id){ 
                toastr.error("Missing some arguments")
                return 
            }
            $.post(
                '/admin/category/update', {id, name, parent_id}
            )
            .done((data) =>  { 
                location.reload()
            })
            .fail((xhr, status, error) => { 
                toastr.error(xhr.responseText)
            })
        }

        // 1- open 2/ close
        function toggleChild(parentIndex, mode = 1){ 
            const childrenRows = document.querySelectorAll('.parent-' + parentIndex);
            const arrowIcon = $(`#arrow-icon-${parentIndex}`);
            childrenRows.forEach(row => {
                const loop_id = row.firstElementChild.textContent;
                if(row.classList.contains('child-row') && mode === 1)
                { 
                    row.classList.remove('child-row');
                    arrowIcon.addClass('rotate180');
                }
                else 
                { 
                    toggleChild(loop_id, 2)
                    row.classList.add('child-row');
                    arrowIcon.removeClass('rotate180');
                }
            });
        }
    </script>
</div>

<%- include("../partials/footer") %>
