<!-- navbar here -->
<%- include("../partials/header") %>

<style>
    :root {
        --main-color: rgba(255, 66, 78, 1);
    }
    body {
        background-color: rgba(245, 245, 250, 1);
        color: black;
    }
    .container {
        box-sizing: border-box;
        max-width: 1300px;
        display: flex;
        background-color: rgba(245, 245, 250, 1);
        padding: 0px 24px;
        margin: 0 auto;
    }

    .left-container {
        background-color: #fff;
        width: 70%;
        margin-top: 20px;
        border-radius: 6px;
        padding: 0px 12px;
        box-shadow: 10px 10px 5px #aaaaaa2d;
        overflow:hidden;
    }

    .products {
        margin-top: 40px;
        position: relative;
    }
 
    .product {
        display: flex;
        padding: 16px 0px;
        gap: 0px 40px;
        align-items: center;
        text-align: left;
        border-bottom: 1px solid #bebebe;
    }
    .product-image {
        max-width: 80px;
        max-height: 80px;
        object-fit: cover;
    }

    .unitPrice, .amount, .intoMoney{ 
        min-width: 100px; 
        max-width: 100px;
        position: relative;
    }
    .product-unitPrice{ 
        min-width: 100px; 
        max-width: 100px;
        text-align: left;
    }
    .unitPrice-title, .amount-title, .intoMoney-title{
        position: absolute;
        top: -40px;
        left: 0;
        font-size: 14px;
        font-weight: 500;
    }
    .amount-title{ 
        left: 12px;
    }
    .product-amount{ 
        min-width: 100px; 
        max-width: 100px;
        text-align: left;
    }
    .imgOfficial {
        position: absolute;
        top: calc(-14px - 0.3vw);
        left: -6px;
        max-width: 100px;
    }

    .product-name {
        position: relative;
        font-size: calc(12px + 0.3vw);
        max-width: 180px;
        min-width: 180px;
        word-wrap: break-word;
    }

    .intoMoney{ 
        max-width: 120px;
        min-width: 120px;
    }

    .product-intoMoney {
        color: var(--main-color);
        font-weight: 700;
        max-width: 120px;
        min-width: 120px;
    }

    .increase, .decrease{ 
        cursor: pointer;
        padding: 0px 12px;
    }
    .btnDelete {
        width: 30px;
        height: 30px;
        cursor: pointer;
        justify-items: end;
    }

    .purchase-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-left: 20px;
    }
    .purchase-button button {
        background-color: var(--main-color);
        border: none;
        color: #fff;
        width: 100%;
        padding: 12px;
        border-radius: 6px;
        font-size: calc(12px + 0.3vw);
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
    }

    .purchase-button button:hover .bill {
        box-shadow: 10px 10px 5px #aaaaaa00;
        scale: 2;
    }
    .right-container {
        width: 30%;
    }
    .bill {
        background-color: #fff;
        max-height: 300px;
        min-height: 300px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 6px;
        padding: 0px 12px;
        scale: 1;
        box-shadow: 10px 10px 5px #aaaaaa98;
    }

    .user {
        display: flex;
    }

    .user-name {
        line-break: loose;
        word-break: normal;
        padding: 0px 6px;
        font-weight: 500;
        font-size: calc(12px + 0.5vw);
        object-fit: cover;
        margin-top: auto;
        margin-bottom: auto;
    }
    .user-avatar {
        max-width: 50px;
    }
    .total-item,
    .total-Funds {
        display: flex;
        justify-content: space-between;
    }

    .total-item p,
    .total-Funds p {
        font-weight: 500;
        font-size: calc(12px + 0.5vw);
    }

    .bill-info {
        padding: 0px 20px;
    }
    a {
        text-decoration: none;
        color: white;
    }
</style>
<div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="/" class="float-start">
            <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
          </a>
        </div>
        <!-- Left elements -->
      </div>
    </div>
  </div>
<div class="container">
    <div class="left-container">
        <h2 class="product-heading">Cart</h2>
        <!-- product here -->
        <div class="products">
        <% products.forEach((product, index) => { %>
                <div class="product">
                    <img
                    class="product-image"
                    src="<%= product.image %>"
                    alt=""
                    />
                    <div class="product-name">
                        <img
                        class="imgOfficial"
                        src="/icon/official.png"
                        alt=""
                        />
                        <p>
                            <%= product.p_name %>
                        </p>
                    </div>
                    
                    <% if (index === 0) { %>
                      <div class="unitPrice">
                            <p class="unitPrice-title">Unit Price</p>
                            <p class="product-unitPrice">
                                <%= product.price %>
                            </p>
                      </div>
                      <div class="amount">
                          <p class="amount-title">Amount</p>
                          <p class="product-amount"><span class="decrease" onclick="decrease(<%= product.id %>, <%= product.count %>)">-</span> <%= product.count %> <span class="increase" onclick="add_to_cart(<%= product.id %>)">+</span></p>
                      </div>
                      <div class="intoMoney">
                        <p class="intoMoney-title">Into Money</p>
                          <p class="product-intoMoney"><%- parseFloat(product.price * product.count).toFixed(2) %></p>
                      </div>
                    <%} else { %>
                        <p class="product-unitPrice"><%= product.price %></p>
                        <p class="product-amount"><span class="decrease" onclick="decrease(<%= product.id %>, <%= product.count %>)">-</span> <%= product.count %> <span class="increase" onclick="add_to_cart(<%= product.id %>)">+</span></p>
                        <p class="product-intoMoney"><%- parseFloat(product.price * product.count).toFixed(2) %></p>
                    <% } %>
                    <img src="/icon/icons8-delete.svg" alt="" class="btnDelete" onclick="deleteProduct(<%= product.id %>)"/>
                </div>
        <% }); %>
         </div>
    </div>
    <div class="right-container">
        <div class="bill">
            <div class="user">
                <img
                    class="user-avatar"
                    src="<%-avatar%>"
                    alt=""
                />
                <p class="user-name"><%= email %></p>
            </div>
            <div class="bill-info">
                <div class="total-item">
                    <p class="total-item--label">Items</p>
                    <p class="total-item--count"><%= items %></p>
                </div>
                <div class="total-Funds">
                    <p class="total-Funds--label">Total: </p>
                    <p class="total-Funds--count"><%= total %></p>
                </div>
            </div>
        </div>
        <div class="purchase-button">
            <a class="w-100" href="/payment/create-order"><button class="">Purchase</button></a>
        </div>
    </div>
</div>

  <%- include('add_to_cart.ejs') %>
<script>
    function decrease(id, count){ 
        if(!id){ 
            toastr.error("Missing arguments")
            return
        }
        $.post('/customer/cart/decrease', {id, count})
        .done(function(data){ 
            location.reload()
        })
        .fail(function(xhr, status, error){ 
            toastr.error(xhr.responseText)
        })
    }
    function deleteProduct(id){ 
        $.post('/customer/cart/delete', {id})
        .done(function(data){ 
                location.reload()
            })
            .fail(function(xhr, status, error){ 
                toastr.error(xhr.responseText)
            })
    }
</script>
<%- include("../partials/footer") %>
