<%- include("../partials/header") %>
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="/" target="_blank" class="float-start">
              <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
            </a>
          </div>
          <!-- Left elements -->
  
          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
              <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank"> <i class="fas fa-user-alt m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Sign in</p> </a>
              <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank"> <i class="fas fa-heart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Wishlist</p> </a>
              <a href="/payment/create-order" class="border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-shopping-cart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">My cart</p> </a>
            </div>
          </div>
          <!-- Center elements -->
  
          <!-- Right elements -->
          <div class="col-lg-5 col-md-12 col-12">
            <form action="/user/search">
              <div class="input-group float-center">
                <div class="form-outline">
                  <input type="search" class="form-control" id="pattern" name="pattern" placeholder="Search" required>
                  <label class="form-label" for="pattern">SEARCH</label>
                  <!-- <input type="search" id="form1" class="form-control" /> -->
                  <!-- <label class="form-label" for="form1">Search</label> -->
                </div>
                <button type="submit" class="btn btn-primary shadow-0">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <!-- Container wrapper -->
      <div class="container justify-content-center justify-content-md-between">
        <!-- Toggle button -->
        <button
                class="navbar-toggler border py-2 text-dark"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarLeftAlignExample"
                aria-controls="navbarLeftAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;text-decoration: none;">
                Categories
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/user/list_type?type=iphone">IPhone</a></li>
                <li><a class="dropdown-item" href="/user/list_type?type=android">Android</a></li>
              </ul>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Hot offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Gift boxes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/user/list?page=1&per_page=12">Menu item</a>
              <a class="nav-link text-dark" href="#">Menu item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Menu name</a>
            </li>
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                Others
              </a>
              <!-- Dropdown menu -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  
<section class="container product my-5 pt-5">
  <header class="mb-4 text-center">
    <h1><%= product.p_name %></h1>
  </header>
  
  <div class="row mt-5">
    <div class = "col-lg-5 col-md-12 col-12">
      <img src="<%= product.image %>" alt="<%= product.p_name %> Image" class="img-fluid w-100">
    </div>

    <div class="col-lg-6 col-md-12 col-12">
      <h3>Product Details</h3>
      <p><strong>Category:</strong> <%= product.category %></p>
      <p><strong>Description:</strong> <%= product.description %></p>
      <h3>Pricing and Availability</h3>
      <p><strong>Price:</strong> $<%= product.price %></p>
      <p><strong>Stock Quantity:</strong> <%= product.stockQuantity %> units</p>
      <button onclick="add_to_cart(<%= product.id %>)" class="btn btn-primary shadow-0 me-1">Add to cart</button>
      <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
    </div>
  </div>
</section>


<% if (relatedProduct.length > 0) {%>
<section class="my-5 pb-5">
  <div class="container text-center mt-5 py-5">
    <h3>You might be interested in</h3>
    <hr class="mx-auto">
  </div>
  <div class="row mx-auto container-fluid">
    <% relatedProduct.forEach(product => { %>
      <div class="text-center col-lg-3 col-md-4 col-12">
        <div class="card w-100 my-2 shadow-2-strong">
          <a href="/user/detail?product_id=<%= product.id %>">
            <img src="<%=product.image%>" class="card-img-top" style="aspect-ratio: 1 / 1"/>
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%=product.p_name%></h5>
            <p class="card-text">$<%=product.price%></p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <button onclick="add_to_cart(<%= product.id %>)" class="btn btn-primary shadow-0 me-1">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    <% }); %>   
  </div>
</section>
<%}%>
<script>
   function add_to_cart(id){ 
      if(!id)
        return 
      const count = 1
      $.post('/customer/cart/add', {id,count})
      .done(function(data){ 
        toastr.success(data)
      })
      .fail(function(xhr, status, error){ 
          toastr.error(xhr.responseText)
      })
    }
</script>
<%- include("../partials/footer") %>
