<%- include("../partials/header") %>
<style>
  ul{ 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a{ 
    color: #000;
    text-decoration: none;
  }


  .cateActive:hover .menu{ 
    display: flex;
    flex-direction: column;
  }

  .menu{ 
    position: absolute;
    z-index: 100;
    display: none;
    background: #242526;
    color: #fff;
    border-radius: 2px;
  }
  .menu a{ 
    color: #fff;
  }
  .menu > li {
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }

  .menu li:hover{ 
    background-color: #0d6efd;
  }
  .menu li {
    position: relative;
  }
  .menu li:hover > .sub-menu {
    display: block;
  }
  .sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 140px;
    background: #242526;
    display: none;
    border-radius: 2px; 
  }

  .sub-menu a:hover{
    display: block;
    background: #0d6efd;
  }

  .sub-menu a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    border-bottom: 1px solid #ccc;
  }

  .sub-menu .sub-menu {
    left: 100%;
    top: 0;
    display: none;
  }
</style>

<header>

  <%- include('links') %> 
  <%- include('usernavbar') %> 
</header>


<div class="row">
    <!--Load products-->
      <% products.forEach(product => { %>
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <div class="card w-100 my-2 shadow-2-strong">
            <a href="/user/detail?product_id=<%= product.id %>">
              <img src="<%=product.image%>" class="card-img-top" style="aspect-ratio: 1 / 1"/>
            </a>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%=product.p_name%></h5>
              <h5 class="card-title"><%=product.name%></h5>
              <p class="card-text">$<%=product.price%></p>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <button onclick="add_to_cart(<%=product.id%>)" class="btn btn-primary shadow-0 me-1 w-100">Add to cart</button>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      <% }); %>   
  </div>
  <%- include('add_to_cart.ejs') %>
<%- include("../partials/pagination") %>
<%- include("../partials/footer") %>
